CMakeCache.txt
CMakeFiles/
Makefile
build/
cmake_install.cmake
g4hp
g4hpCint.cc
*.pcm
ana/*.o
ana/*.so
ana/PPFX
ana/CreateYields
ana/CreateMult
ana/CreateInvXS
ana/CreateInelXS
ana/ExampleOfUsingFunctions
ana/CreatePPFX
